
* {
    box-sizing: border-box;
  }
  
input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}
button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}
.container {
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.basic_btn {
  width: 90%;
  padding: 35px;
  font-size: 300%;
  color: white;
  font-weight: 700;
  background: #A5CC2B;
  border-radius: 30px;
  word-wrap: break-word;
  border-width: 0;
}
.basic_btn.clicked {
  background: #A5CC2B;
  opacity: 0.5;
}

/* Login */
.LoginContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loginInput {
  width: 100%;
  padding: 30px;
  font-size: 40px;
  margin-bottom: 30px;
  border-radius: 35px;
  border: 5px solid #DFDFDF;
  color: black;
}

.loginSubmit {
  background: #DFDFDF;
  color: #6F6F6F;
  text-align: center;
  margin-top: 10;
  cursor: pointer;
}

.greenButton {
  background: #A5CC2B;
  color: #F6F6F6;
}

/* ProfileForm */

.profilForm {
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-end-end-radius: 10%;
  border-end-start-radius: 10%;
}

.header {
  width: "100%";
  align-Items: center;
  justify-content: center;
  display: flex;
}

.order {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: -6%;
  justify-content: center;
  flex-direction: column;
}

.orderBtn {
  width: 47%;
  background-color: white;
  color: black;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* order */