
:root {
  --vh: 100%;
}
body {
  height: 100%;
  margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  }
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

hr {
  border-width: 0.5px;
  color: #DFDFDF;
  border-style: solid;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}
button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}
.container {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  
}
.basic_btn {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-size: 16px;
  color: white;
  font-weight: 700;
  background: #A5CC2B;
  border-radius: 12px;
  word-wrap: break-word;
  border-width: 0px;
  box-shadow: 2px 6px 9px -1px rgba(0, 0, 0, 0.10);
}
.basic_btn.clicked {
  background: #A5CC2B;
  opacity: 0.5;
}

/* Login */
.LoginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  align-items: center;
}

.loginInput {
  width: 90%;
  height: 10%;
  padding: 7%;
  font-size: 16px;
  word-wrap: break-word;
  margin-bottom: 6%;
  border-radius: 12px;
  font-weight: 700;
  color: #383838;
  border: 1px solid #DFDFDF;
}

input::placeholder {
  color: #DFDFDF;
}

.loginSubmit {
  display: flex;
  justify-content: center;
  padding: 7%;
  margin-top: 10%;
  background: #DFDFDF;
  color: #ffffff;
  border-width: 0px;
  cursor: pointer;
  box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 0.05);
  height: 10%; /* 높이 설정 */
  line-height: 7%; /* 텍스트 수직 정렬을 위한 line-height 설정 */
}


.greenButton {
  background: #A5CC2B;
  color: #F6F6F6;
}
.greenBorder{
  border: 1px solid #A5CC2B;
}

/* ProfileForm */

.profilForm {
  width: 100vw;
  padding: 0% 6%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 0.05);
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  align-Items: center;
  justify-content: center;
  
}

.order {
  width: 82%;
  gap: 4%;
  display: flex;
  align-items: center;
  margin-top: -6%;
  justify-content: center;
  flex-direction: row;
}

.orderBtn {
  width: 100%;
  background-color: #587302;
  padding: 8%;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* franchHome */
.franchHome {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* order */
.orderContain {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabView {
  width: 100%;
  padding: 0% 6%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tabButtons{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}
.tabButton {
  width: 50px;
  height: 50px;
  align-items:center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
  background-color: #BDBDBD;
  border-width: 0;
  transition: 0.3s;
}
.tabName{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tabBeerButtons{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.tabBeerButton{
  width: 60px;
  height: 24px;
  font-weight: 500;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
  background-color: #F8F8F8;
  color: #BDBDBD;
  border-color: #BDBDBD;
  border-width: 1px;
  border-style:solid;
}
.tabBeerButton.active {
  background-color: #88B00C; /* 선택된 탭의 배경색 */
  color: white;
  font-weight: 700;
  border-width: 0;
}

.alcoholName {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  color: #BDBDBD;
}
.alcoholName.active{
  color: #88B00C;
}
.tabButton.active {
  background-color: #88B00C; /* 선택된 탭의 배경색 */
}

.tabContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuContain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 3% 6%;
  margin-bottom: 5%;
  border-radius: 12px;
  box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 0.05);
}

.quantityButtons{
  width: 25%;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quantityButton{
  width: 26px;
  height: 26px;
  border-radius: 6px;
  border-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--back, #F8F8F8);
}
.countBtn{
  width: 16px;
  height: 16px;
  display: flex;
  justify-items: center;
  color: #383838;
}
.newAddInput{
  color: #A5CC2B;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.newAddInput::placeholder {
  color: #A5CC2B;
}
.addNewItemForm {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #587302 1px solid;
  border-radius: 12px;
  margin-bottom: 16px;
}
.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 30%;
  height: 60%;
  border-radius: 12px;
  border-width: 0px;
  font-size: 16px;
}
/* OrderEnd */
.orderEnd {
  background-color: white;
  width: 100vw;
  padding: 0% 6%;
  box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 0.05);
  
}
/* OrderContent */
.orderContent{
  width: 100%;
  height: 86px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 0.05);
}
.order_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.modal {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  height: 24%;
  border-radius: 12px;
  background-color: white; /* 배경에 흐릿한 효과를 위한 배경 색 */
  z-index: 9999; /* 모달을 상위로 가져오기 위한 z-index */
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 투명한 검은 배경 */
  z-index: 9998; /* 모달보다 아래에 위치하도록 설정 */
}
.modalBtn {
  width: 280px;
  height: 46px;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: #BDBDBD;
}
/* ManagerHome */

.manager {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.managerHome_Link {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropDown {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DatePicker */
.example-custom-input {
  width: 100%;
  border: white;
  font-size: 20px;
  color: #A5CC2B;
  font-weight: 700;
  cursor: pointer;
}
.order-custom-inout{
  font-size: 20px;
  color: #587302;
  font-weight: 700;
  text-align: center;
}