
* {
    box-sizing: border-box;
  }
  
input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}
button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}
.container {
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.basic_btn {
  width: 90%;
  padding: 35px;
  font-size: 300%;
  color: white;
  font-weight: 700;
  background: #A5CC2B;
  border-radius: 30px;
  word-wrap: break-word;
  border-width: 0;
}
.basic_btn.clicked {
  background: #A5CC2B;
  opacity: 0.5;
}

/* Login */
.LoginContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loginInput {
  width: 100%;
  padding: 30px;
  font-size: 40px;
  margin-bottom: 30px;
  border-radius: 35px;
  border: 5px solid #DFDFDF;
  color: black;
}

.loginSubmit {
  background: #DFDFDF;
  color: #6F6F6F;
  text-align: center;
  margin-top: 10;
  cursor: pointer;
}

.greenButton {
  background: #A5CC2B;
  color: #F6F6F6;
}

/* ProfileForm */

.profilForm {
  width: 100%;
  height: 32%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-end-end-radius: 10%;
  border-end-start-radius: 10%;
}

.header {
  width: "100%";
  align-Items: center;
  justify-content: center;
  display: flex;
}

.order {
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: -10%;
  justify-content: center;
  flex-direction: row;
}

.orderBtn {
  width: 90%;
  background-color: #587302;
  color: white;
  font-size: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* order */


.tabView {
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tabButtons{
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabName{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.tabButton {
  width: 130px;
  height: 140px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 20px;
  background-color: #BDBDBD;
  border-width: 0;
}
.orderImg {
  width: 120px;
  height: 120px;
}

.alcoholName {
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
}
.alcoholName.active{
  color: #88B00C;;
}
.tabButton.active {
  background-color: #88B00C; /* 선택된 탭의 배경색 */
}
/* ManagerHome */

.manager {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.managerHome_Link {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropDown {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}







.example-custom-input {
  border: white;
  font-size: 60px;
  color: #A5CC2B;
  font-weight: 700;
  cursor: pointer;
}
.order-custom-inout{
  width: 750px;
  font-size: 60px;
  color: #587302;
  font-weight: 700;
  text-align: center;
}